<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置扫描-->
    <context:component-scan base-package="com.amber"> </context:component-scan>
    <bean id="userDao" class="com.amber.dao.ProduceDaoImpl"></bean>
    <bean id="aspectOption" class="com.amber.aspect.AspectOption"></bean>

    <!--xml　aop配置-->
    <aop:config>
        <!--设置切入点-->
        <aop:pointcut id="create" expression="execution(* com.amber.dao.ProductDao.create(..))" ></aop:pointcut>
        <aop:pointcut id="delete" expression="execution(* com.amber.dao.ProductDao.delete(..))" ></aop:pointcut>
        <aop:pointcut id="delBatch" expression="execution(* com.amber.dao.ProductDao.delBatch(..))" ></aop:pointcut>
        <aop:pointcut id="addBatch" expression="execution(* com.amber.dao.ProductDao.addBatch(..))" ></aop:pointcut>
        <aop:pointcut id="update" expression="execution(* com.amber.dao.ProductDao.update(..))" ></aop:pointcut>
        <!--设置切面类-->
        <aop:aspect ref="aspectOption">
            <!--设置前置通知-->
            <aop:before method="before" pointcut-ref="create"></aop:before>
            <!--设置后置通知-->
            <aop:after method="after" pointcut-ref="delete"></aop:after>
            <!--环绕通知-->
            <aop:around method="around" pointcut-ref="addBatch"></aop:around>
            <!--设置后置返回通知-->
            <aop:after-returning method="afterReturning" pointcut-ref="update" returning="result"></aop:after-returning>
            <!--设置后置异常通知-->
            <aop:after-throwing method="afterThrowing" pointcut-ref="delBatch" throwing="e"></aop:after-throwing>
        </aop:aspect>
    </aop:config>
</beans>
